.jumbotron,
.card-body,
.container,
.site-header {
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
    font-weight: bold;
}

.jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53C0FB;
    background: url('../img/cover_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@media (max-width: 767px) {
    .jumbotron {
        background: url('../img/cover_back_sm1.png');
        background-position: 0%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #nameProd {
        margin-top: 2rem;
    }
}

@media (max-width: 576px) {
    .wave {
        display: none;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
    font-size: 38px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.site-header a {
    color: white;
    transition: ease-in-out color .15s;
}

.light-text {
    color: white;
}

.site-header .dropdown-menu a {
    color: black;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}

.cont {
    display: flex;
    margin: auto auto 20px;
    padding: 22px;
    width: 300px;
    font-family: Verdana;
    color: rgb(95, 95, 95);
}

#login {
    background-color: white;
    background-clip: padding-box;
    border-radius: 5px;
    padding: 2rem;
}


/* inputs username / password */

#username,
#password {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* btn Login en index */

#btnlog {
    background-color: rgb(214, 28, 108);
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#btnlog:hover {
    background-color: rgb(116, 4, 13);
}

#logGoogle:hover,
#logGuest:hover {
    border-color: rgb(214, 28, 108);
    background-color: white;
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}


/* Menu usuario NavBar*/

.dropbtn {
    background-color: #343a40;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(214, 28, 108);
    color: white;
    border-radius: 0.25rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(214, 28, 108);
    border-radius: 0.25rem;
}

.nav-link:hover {
    background-color: rgb(214, 28, 108);
    text-decoration: none;
    border-radius: 0.25rem;
    padding-left: 1rem;
}


/* Mensaje error formulario en index */

#msj {
    color: rgb(214, 28, 108);
    text-align: left;
}


/* Boton productos relacionados en product-info */

.btnprodrelat {
    border: none;
    color: rgb(214, 28, 108);
}

.btnprodrelat:hover {
    background-color: rgb(214, 28, 108);
}


/* Boton nuevo comentario en product-info*/

#buttonComment {
    background-color: rgb(214, 28, 108);
    border: none;
}

#buttonComment:hover {
    background-color: rgb(116, 4, 13);
    border: none;
}

#comments,
.titleCont {
    border: none;
    border-bottom: solid 2px;
    border-radius: 0em 0em 0em 0em;
    border-color: rgb(214, 28, 108);
}

.titleItems {
    border: none;
}


/*Radio button envio*/

.custom-control-input:checked~.custom-control-label::before {
    border-color: rgb(214, 28, 108);
    background-color: rgb(214, 28, 108);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: rgb(214, 28, 108);
}

.scrollClass {
    margin-left: 30px;
    float: left;
    height: auto;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 20rem;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(214, 28, 108);
}

.scrollbar-primary {
    scrollbar-color: rgb(214, 28, 108) #F5F5F5;
}

.userData.form-control:disabled {
    background-color: transparent;
}